body
 {
    background-image: url(https://cdna.artstation.com/p/assets/images/images/003/995/928/large/hongqi-zhang-easy.jpg?1479293270);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
 }

 form
 {
   background-color: chocolate;
   width: 200px;
   border-style:inset;
   border-color: cadetblue;
   font-family: monospace;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   border-width: 10px;
 }

 div
 {
   background-color: blueviolet;
   text-align: center;
   width: 200px;
   border-style:inset;
   border-color: cadetblue;
   font-family: monospace;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   border-width: 10px;
 }